<div class="container-fluid text-center">
	<h1>About all that stuff</h1>
	<p>We are DevMatch. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, est ipsum at quidem dolores cum, eveniet, consectetur facere provident maiores totam incidunt nesciunt repellendus? Libero a est molestiae quam veniam!</p>
</div>